@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adminpanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
	<div class="page-content">




		<!-- BEGIN PAGE HEADER-->
		<h3 class="page-title">
			Dashboard <small>reports & statistics</small>
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="@Url.Action("Index", "Home")">Dashboard</a>
				</li>
			</ul>

		</div>
		<!-- END PAGE HEADER-->
		<div class="row">
			<div class="col-md-12">
				<div class="portlet box green-meadow calendar">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>Attendance
						</div>
					</div>
					<div class="portlet-body">
						<div class="row">

							<div class="col-md-9 col-sm-12">
								<div id="calendar" class="has-toolbar">
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<p><h3><a href="#" class="btn btn-sm red"></a> Absent</h3></p>
								<p><h3><a href="#" class="btn btn-sm blue"></a> Present</h3></p>

							</div>
						</div>
						<!-- END CALENDAR PORTLET-->
					</div>
				</div>
			</div>

		</div>


		<!-- BEGIN DASHBOARD STATS -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							Expense Report
						</div>
					</div>
					<div class="portlet-body">
						<div id="expenseChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
					</div>
				</div>

			</div>


			<!-- END DASHBOARD STATS -->

		</div>

	</div>
